.flag{vertical-align:-2px;border-radius:2px}

/* Аватарки в таблице Пользователи */
td.avatar-cell {
  text-align: center;
  vertical-align: middle;
  width: 90px;
}
td.avatar-cell img.avatar-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 6px auto;
  border: 1px solid #23324a;
}
@media (max-width: 600px) {
  td.avatar-cell img.avatar-img {
    width: 32px;
    height: 32px;
  }
}
/* Вертикальное выравнивание ячеек в таблицах админки */
table tbody td {
  vertical-align: middle;
}
/* Вертикальное центрирование баланса в таблице "Пользователи" */
.panel-body table tbody td.right {
  vertical-align: middle;
}
